.details-card {
  font-family: var(--font-secondary);
  margin: 2rem 0;
  padding: 0.5rem 2rem;
  border: 1px solid var(--osweb-color-primary);
  border-radius: 4px;
  min-height: 10rem;
  max-height: 20rem;
  width: calc(100% - 40px);
  min-width: 15rem;

    @media (max-width: 1200px) {
      margin: 1rem 1.5rem;
      width:30%;
    }

    &__content {
      color: var(--osweb-color-custom-5);
      font-family: var(--font-primary);
      text-align: center;
      font-size: 1.2rem;

      & span {
        color: var(--osweb-color-primary);
        font-family: var(--font-secondary);
        font-weight: 400;
      }
    }
  
    &__name {
      margin:1rem 0;
    }
  
    &__company {
      margin: 1rem 0;
    }

    &__role {
      margin: 1rem 0;
    }

    &__telephone {
      margin: 1rem 0;
    }

    &__email{
      margin: 1rem 0;

      a {
        text-decoration: none;
      }
    }
  }
