.hero {
  position: relative;
  background: url(../../../../assets/images/hero.jpg) no-repeat center center;
  background-size: cover;
  height: 50vh;
  min-height: 30rem;
  max-height: 35rem;
  min-width: 800px;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    /* Could be nice to use in the future, provides a nice animated moving gradient */
    // background-image: linear-gradient(to right,rgba(0, 0, 255, 0.02),rgba(21, 212, 0, 0.01),rgba(0, 0, 255, 0.02));
    // animation: gradient 10s ease infinite;
  }

  h1 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
  }
}

@keyframes gradient {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
