.hero {
  position: relative;
  background: url(../../../../assets/images/hero.jpg) no-repeat center center;
  background-size: cover;
  height: 50vh;
  min-height: 30rem;
  max-height: 35rem;
  min-width: 800px;
  overflow: hidden;

  /* Animated gradient */
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 255, 0.15),
      rgb(212, 0, 88, 0.3),
      rgba(0, 0, 255, 0.15)
    );
    animation: gradient 10s ease infinite;
  }

  h1 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
  }
}

@keyframes gradient {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
