.contact-header-container{
    max-width: 100%;
    // max-width:1200px;
    padding: 1rem 1rem 0rem 1rem;
    margin:0 auto;

    .container p {
        font-size:1.25rem;
    }
    
    .contact-heading{
        color: #453C90;
        font-family: var(--font-secondary);
        color: var(--osweb-color-primary);
        font-size: 2.5rem;
    
        @media (max-width: 898px) {
            font-size: 2rem;
          }
    }
}