.navbar {
  font-family: var(--font-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #453c90;
  color: white;

  .links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    .link {
      font-size: 0.875rem;
      padding: 0.5rem 2rem;
      cursor: pointer;
      user-select: none;

      &:hover {
        color: #fff;
        background-color: rgb(116, 108, 172);
      }
    }
  }
}
